# Turn on URL rewriting
RewriteEngine On

# Set the base directory for the rewrite rules
# If your project is in http://localhost/pcbuild/
RewriteBase /pcbuild/

# Rewrite conditions to prevent rewriting for existing files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other requests to index.php
RewriteRule ^(.*)$ index.php [L,QSA]